<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style rel="Stylesheet" type="text/css" href="app.component.scss" ></style>
  <title>Document</title>
</head>
<body>
  <div id="container">
    <a href="https://petclub.com.pe/playstore"><img src="img/oficial.png" alt="logo" id="portada"></a>
    <a href="https://petclub.com.pe/playstore"><img src="img/taxi.png" alt="logo" id="taxi"></a>
  </div>
  <div id="info">
    <p class="join">
      ¡Únete a PuntoRide!
    </p>
  </div>
  <div class="container-carac">
    <div class="tarjet">
      <p class="textbold"><i class="fa fa-dollar"></i>Conoce el Precio</p>
      <p class="textnor">Se acabaron las negociaciones. El precio no cambiará al final del viaje.</p>
    </div>
    <div class="tarjet">
      <p class="textbold"><i class="fa fa-truck"></i>Envios Inmediatos</p>
      <p class="textnor">Servicio de entregas rápidas.</p>
    </div>
    <div class="tarjet">
      <p class="textbold"><i class="fa fa-map-marker"></i>Ubicación en Tiempo Real</p>
      <p class="textnor">Mira cómo se acerca el conductor en tiempo real, sin necesidad de esperar fuera.</p>
    </div>
  </div>
  <footer class="footer">
    <ul class="social-icon">
      <li class="icon-elem">
        <a href="" class="icon"><i class="fa fa-instagram"></i></a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon"><i class="fa fa-facebook-square"></i></a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="icon-elem">
        <a href="" class="icon"><i class="fa fa-whatsapp"></i></a>
      </li>
    </ul>
    <ul class="menu">
      <li class="menu-elem">
        <a href="" class="menu-icon"> Inicio </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> Equipo </a>
      </li>
      <li class="menu-elem">
        <a href="" class="menu-icon"> Contacto </a>
      </li>
      <li class="menu-elem">
        <a class="menu-icon"  routerLink="/privacidad" > Términos y Condiciones </a>
      </li>
    </ul>
    <p class="text">© 2025 NovaMatrix SAC. Todos los derechos reservados</p>
  </footer>
</body>
</html>
